.item {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 1em;
	.quote {
		font-size: 30px;
	}

	.author {
		margin-top: 2em;
		font-size: 20px;
		font-style: italic;
	}
}

.watermark {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 10;
}

.watermark img {
	width: 200px;
	height: 200px;
}